    ion-content {


    position: relative;
    width: 428px;
    height: 926px;
    
    
    background: #FFFFFF;
    border-radius: 16px;
    
    
    }
    
    
    ion-img {
     
    
    
    position: absolute;
    width: 44px;
    height: 44px;
    left: 40px;
    top: 34px;
    
    
    
    
    }
    
    
    .logo-nike {
     
    
    
    position: absolute;
    width: 86.67px;
    height: 35px;
    left: 171px;
    top: 38px;
    
    
    
    
    }
    
    
    .perfil {
       
    position: absolute;
    width: 44px;
    height: 44px;
    left: 345px;
    top: 34px;
    
    
    }
    
    
    ion-card {
    width: 116px;
    height: 127px;
    top: 120px;
    left: 0px;
    gap: 0px;
    border-radius: 20px 20px 20px 20px;
    opacity: 0px;
    
    
    background: rgba(255, 240, 94, 1);
    
    
    
    
    }
    
    
    .tenis1 {
    
    
    margin-top: 16px;
       
    }
    
    
    .card2 {
     
    
    
    position: absolute;
    width: 116px;
    height: 127px;
    left: 140px;
    top: 120px;
    
    
    background: #E1E0E0;
    border-radius: 16px;
    
    
    }
    
    
    .tenis2 {
        margin-top: 16px;
    }
    
    
    .card3 {
    
    
    position: absolute;
    width: 116px;
    height: 127px;
    left: 280px;
    top: 120px;
    
    
    background: #E1E0E0;
    border-radius: 16px;
    
    
    
    
    }
    
    
    .tenis3 {
    
    
    margin-top: 16px;
    }
    
    
    .tenis01 {
    
    
    position: absolute;
    width: 388px;
    height: 332px;
    left: 20px;
    top: 255px;
    
    
    
    
    }
    
    
    .titulo2 {
    position: absolute;
    width: 330px;
    height: 38px;
    left: 20px;
    top: 625px;
    
    
    font-family: 'Holtwood One SC';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 50px;
    
    
    color: #144273;
    
    
    }
    
    
    .titulo3 {
    position: absolute;
    width: 368px;
    height: 31px;
    left: 20px;
    top: 673px;
    
    
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    
    
    color: #144273;
    
    
    }
    
    
    .texto2 {
    position: absolute;
    width: 368px;
    height: 70px;
    left: 20px;
    top: 714px;
    
    
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    
    
    color: #144273;
    
    
    }
    
    
    .preco {
    position: absolute;
    width: 116px;
    height: 31px;
    left: 20px;
    top: 791px;
    
    
    font-family: Istok Web;
    font-size: 24px;
    font-weight: 700;
    line-height: 34.55px;
    text-align: left;
    
    
    color: rgba(20, 66, 115, 1);
    
    
    }
    
    
    .valor {
    position: absolute;
    width: 118px;
    height: 50px;
    left: 20px;
    top: 822px;
    
    
    font-family: 'Holtwood One SC';
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    line-height: 50px;
    
    
    letter-spacing: -0.02em;
    
    
    color: #144273;
    
    
    
    
    }
    
    
    .ellipse9 {
    position: absolute;
    width: 45px;
    height: 45px;
    left: 292px;
    top: 825px;
    border-radius: 49%;
    background: #144273;

    }

    .share {

    position: absolute;
    width: 24px;
    height: 24px;
    left: 303px;
    top: 836px;


    }

    .ellipse10 {
    
    position: absolute;
    width: 45px;
    height: 45px;
    left: 363px;
    top: 825px;


    }

    .bag {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 836px;
    left: 374px;
    
    }

    .ellipse11 {

    position: absolute;
    width: 8px;
    height: 8px;
    left: 372px;
    top: 831px;
    border-radius: 50%;    

    background: #FFF05E;



    }

