<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>


<ion-content [fullscreen]="true">
<ion-img src="assets/menu (1) 1.png"></ion-img>
<ion-img class="logo-nike" src="assets/image-removebg-preview (2) 1 (1).png"></ion-img>
<ion-img class="perfil" src="assets/Ellipse 5.png"></ion-img>


<ion-card>
  <img class="tenis1" src="assets/image-removebg-preview (3) 2.png"/>
</ion-card>
<ion-card class="card2">
  <img class="tenis2" src="assets/image-removebg-preview 1.png">
</ion-card>
<ion-card class="card3">
  <img class="tenis3" src="assets/image 1.png"/>
</ion-card>
<img class="tenis01" src="assets/tenis02.png"/>


<h1 class="titulo2">KYRIE INFINITY</h1>
<h1 class="titulo3">Calçados para Basquete</h1>
<p class="texto2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae porta ante. Suspendisse a massa vitae justo lacinia accumsan.</p>
<h1 class="preco">Preço</h1>
<h1 class="valor">$ 799</h1>

<img class="ellipse9" src="assets/Ellipse 9.png">
<img class="share" src="assets/share 1.png">


<img class="ellipse10" src="assets/Ellipse 10.png">
<img class="bag" src="assets/shopping-bag 1.png">

<img class="ellipse11">

</ion-content>

