<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap" rel="stylesheet">
</head>
<ion-content [fullscreen]="true">
  <ion-img class="elipse"></ion-img>
  <ion-img class="elipse2"></ion-img>
  <img class="nike" src="assets/image-removebg-preview (2) 1.png">
  <img src="assets/image-removebg-preview (3) 1.png">
  <h1>SUMMER COLLECTIONS</h1>
  <h1 class="ano">2022</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae porta ante. Suspendisse a massa vitae justo lacinia accumsan.</p>

  <ion-button (click)="navegar()">
    <span>GET STATED <ion-icon name="arrow-forward-outline"></ion-icon></span>   
  </ion-button>
  

  

</ion-content>
